

@media screen and (min-device-width: 320px) {
    html{
        font-size:50px;
    }
}
@media screen and (min-device-width: 360px) {
    html{
        font-size:56.25px;
    }
}
@media screen and (min-device-width: 400px) {
    html{
        font-size:62.5px;
    }
}

@media screen and (min-device-width: 440px) {
    html{
        font-size:68.75px;
    }
}
@media screen and (min-device-width: 480px) {
    html{
        font-size:75px;
    }

}
@media screen and (min-device-width: 640px) {
    html{
        font-size: 100px;
    }

}

*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
ul{
    list-style:none;
}
#main{
    width: 640px;
    height: 960px;
    position: relative;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin: top;
}

.slide li{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
}
.slide li:nth-child(1){
    background-color:grey;
}
.slide li:nth-child(2){
    background-color: rgba(86, 222, 219, 0.89);
}
.slide li:nth-child(3){
    background-color: #28b0de;
}
.slide li:nth-child(4){
    background-color: #004050;
}
.zIndex {
    z-index: 111;
}

.a1{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:10%;
}
.a1 .penson{
    position: absolute;
    top:-3rem;
    font-size: 1.20rem;
    color: white;
    font-weight: bold;



}
.a1 .borderBottom{
    border-bottom: 1px solid white;
    width: 100%;
    border-bottom: 5px solid white;
    position: absolute;
    top: -2rem;
    left: 0;
    padding: 0 0.2rem 0.5rem 0.2rem;
}

.a1 .myName{
    display: block;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}
.myName_left,.myName_right{
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
}
.a1 .myName_left,.a3 .myName_left{
    -webkit-transform: translate(500px,0);
}
.a1 .myName_right,.a3 .myName_right{
    -webkit-transform: translate(-500px,0);
}
#a1 .myName_left,#a1 .myName_right,#a3 .myName_left,#a3 .myName_right{
    -webkit-transform: translate(0,0);
    -webkit-transition:1s
}
.a2{
    position: absolute;
    width: 100%;
    top:4.2rem;
    left: 0.6rem;
    color: white;
}
.a2 .jod,.a2 .lianxi{
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 4px solid white;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}
.a2 span{
    position: absolute;
    font-size: 0.7rem;
    font-weight:300;
    left: 1rem;
    font-weight: 400;
}
.a2 .span1{

    left: 1rem;
    padding: 0.2rem;
}

#a2 span,#a4 p{
    -webkit-transform: rotate(720deg);
    -webkit-transition: 1s;
}
.a3,.a4{
    position: absolute;
    top: 2.1rem;
    left: 0.65rem;
    color: white;
    width: 100%;
}
.a3 h3,.a4 h3{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 4px solid white;
}
.a3 p,.a4 p{
    font-size: 0.55rem;
    font-weight: 400;
    padding: 10px 0 10px 20px;
}
.loadSpan{
    width: 70%;
    height: 2%;
    border:1px solid white;
    background: white;
    border-radius: 10px;

}
.bottom1{
    margin-bottom: 20px;
}
.radius{
    width: auto;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 0.7rem;
    padding: 0.4rem;
}






